form {
	width: 100%;
	margin: auto;	
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: monospace;
	position: relative;
	float:left;	
}

h2{
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;		
	text-shadow: 1px 2px 1px rgb(0,0,0);
}

input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;	
	font-size: 17px;
	border: none;
	border-radius: 7px;
}

textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
	border-radius: 7px;
}
#boton{
	background: #31384A;
	color:  #fff;
	padding: 20px;
	border-radius: 7px;
}

#boton:hover {
	cursor: pointer;
	background: rgba(0,200,200,1);
}

@media (max-width:480px){
	form{
		width: 100%;
	}
}